
<div class="col-span-3 h-full w-full px-4 py-3 bg-gray-100">
  <div class="my-8 mb-2">
    <div class="pb-6 md:pb-0 flex flex-col">
      <label class="input-label text-base mb-2">
        Recherche d'un lieux
      </label>
      <div class="w-full">
        <label class="w-full input-field inline-flex items-baseline border-none shadow-md bg-white p-4">
          <span class="flex-none text-dusty-blue-darker select-none leading-none">une categorie/</span>
          <div class="flex-1 leading-none">
            <input id="handle" type="search" class="w-full py-2" placeholder="alantic" style="padding: 8px;">
          </div>
        </label>
      </div>
    </div>
  </div>
  <app-card-place></app-card-place>
</div>
