<div class="flex w-full h-full max-w-xs p-4 rounded-l-lg bg-gray-800">
  <ul class="flex flex-col w-full">
    <li class="my-px">
      <div class="flex justify-center items-center h-12 text-center rounded-lg text-gray-600 bg-gray-100">
        <span class="ml-3">LesBonsCoinsDePn</span>
      </div>
    </li>
    <li class="my-px">
      <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">Options</span>
    </li>
    <li class="my-px">
      <a href="#" class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-500 hover:bg-gray-700">
            <span class="flex items-center justify-center text-lg text-gray-500">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                   stroke="currentColor" class="h-6 w-6">
                <path d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
              </svg>
            </span>
        <span class="ml-3">Voir les lieux</span>
      </a>
    </li>
    <li class="my-px">
      <a class="flex flex-row items-center h-12 px-4 rounded-lg text-gray-500 hover:bg-gray-700">
            <span class="flex items-center justify-center text-lg text-green-400">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                   stroke="currentColor" class="h-6 w-6">
                <path d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </span>
        <span class="ml-3">Ajouter un lieux</span>
      </a>
    </li>
  </ul>
</div>
