<div class="w-full flex mx-auto my-2" >
    <div class="flex bg-gray-900 border border-gray-900 shadow-lg rounded-lg p-2">
        <div class="relative h-16 w-16 sm:mb-0 mb-2">
            <img src="https://tailwindcomponents.com/storage/avatars/njkIbPhyZCftc4g9XbMWwVsa7aGVPajYLRXhEeoo.jpg"
                alt="aji" class="w-16 h-16 object-cover rounded-2xl">
        </div>
        <div class="flex-auto sm:ml-5 justify-evenly">
            <div class="flex items-center justify-between sm:mt-2">
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <div class="w-full flex-none text-lg text-gray-200 font-bold leading-none">
                            Nom du lieux
                        </div>
                        <div class="flex-auto text-gray-400 my-1">
                            <span class="mr-3 font-bold text-blue-900">catégorie</span>
                            <span class="mr-3 border-r border-gray-600  max-h-0"></span>
                            <span>bonne anbiance, pas cher, moins chere</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pt-2  text-sm text-gray-400">
                <div class="flex-1 inline-flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--material-symbols h-5 mr-2" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M6 14h12v-2H6Zm0-3h12V9H6Zm0-3h12V6H6Zm16 14l-4-4H4q-.825 0-1.412-.587Q2 16.825 2 16V4q0-.825.588-1.413Q3.175 2 4 2h16q.825 0 1.413.587Q22 3.175 22 4Z"></path></svg>
                    <p class="">1.2k Avis</p>
                </div>
                <button
                  (click)="onShowPlace()"
                    class="flex-no-shrink bg-green-400 hover:bg-green-500 px-5 ml-4 py-2 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider border-2 border-green-300 hover:border-green-500 text-white rounded-full transition ease-in duration-300">
                    AFFICHER</button>
            </div>
        </div>
    </div>
</div>
